@{
    ViewData["Title"] = "Cards";
}
<main>
    <div class="container-fluid vh-100 --bs-danger-rgb">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="row justify-content-center w-100">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="credit-card p-3">
                        <div class="d-flex justify-content-end w-100 mb-2">
                            <div class="circle bg-danger me-2"></div>
                            <div class="circle bg-warning"></div>
                        </div>
                        <div class="pin"></div>
                        <p class="card-number mt-2 text-center">1234 1234 1234 1234</p>
                        <p class="card-expiry text-center">12/26</p>
                        <div class="d-flex justify-content-between w-100 mt-2 pe-3">
                            <span>ZIDARIU SABIN</span>
                            <p class="fst-italic fw-bold mb-0">VISA</p>
                        </div>
                    </div>
                     <div class="credit-card p-3">
                        <div class="d-flex justify-content-end w-100 mb-2">
                            <div class="circle bg-danger me-2"></div>
                            <div class="circle bg-warning"></div>
                        </div>
                        <div class="pin"></div>
                        <p class="card-number mt-2 text-center">1234 1234 1234 1234</p>
                        <p class="card-expiry text-center">12/26</p>
                        <div class="d-flex justify-content-between w-100 mt-2 pe-3">
                            <span>ZIDARIU SABIN</span>
                            <p class="fst-italic fw-bold mb-0">VISA</p>
                        </div>
                    </div>
                    <div class="credit-card p-3">
                        <div class="d-flex justify-content-end w-100 mb-2">
                            <div class="circle bg-danger me-2"></div>
                            <div class="circle bg-warning"></div>
                        </div>
                        <div class="pin"></div>
                        <p class="card-number mt-2 text-center">1234 1234 1234 1234</p>
                        <p class="card-expiry text-center">12/26</p>
                        <div class="d-flex justify-content-between w-100 mt-2 pe-3">
                            <span>ZIDARIU SABIN</span>
                            <p class="fst-italic fw-bold mb-0">VISA</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .credit-card {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 400px;
        background-color: lightskyblue;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .pin {
        height: 40px;
        width: 60px;
        background-color: lightgoldenrodyellow;
        border-radius: 10px;
        flex-grow:1;
        position: absolute;
        z-index: 1;
        top: 40%;
    }

    .card-number, .card-expiry {
        color: black;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: inline-block;
    }
</style>