@{
    ViewData["Title"] = "Cards";
}   
<link rel="stylesheet" href="~/css/styles.css" />   
<main>
    @* <div>
        <button>
            Add a new transaction
        </button>
    </div> *@
    <div class=" display-items-center"  style="height:100vh ;  width:100vw; ">
         <ul>
            <li><p>Category 1</p>
                <ol> <li>Transaction 1
                    <ol>
                        <li>Amount: 12000$</li>
                        <li>Location: USA</li>
                        <li>Date: 12mar2025</li>
                    </ol>
                </li>
                <ol> <li>Transaction 2
                    <ol>
                        <li>Amount: 15000$</li>
                        <li>Location: Grece, Athens</li>
                        <li>Date: 14mar2025</li>
                    </ol>
                </li>
                <ol> <li>Transaction 3
                    <ol>
                        <li>Amount: 9000$</li>
                        <li>Location: Romania, Craiova</li>
                        <li>Date: 15mar2025</li>
                    </ol>
                </li>
                </ol>
            </li>
            <li><p>Category 1</p>
                <ol> <li>Transaction 1
                    <ol>
                        <li>Amount: 12000$</li>
                        <li>Location: USA</li>
                        <li>Date: 12mar2025</li>
                    </ol>
                </li>
                <ol> <li>Transaction 2
                    <ol>
                        <li>Amount: 15000$</li>
                        <li>Location: Grece, Athens</li>
                        <li>Date: 14mar2025</li>
                    </ol>
                </li>
                <ol> <li>Transaction 3
                    <ol>
                        <li>Amount: 9000$</li>
                        <li>Location: Romania, Craiova</li>
                        <li>Date: 15mar2025</li>
                    </ol>
                </li>
                </ol>
            </li>
            <li><p>Category 1</p>
                <ol> <li>Transaction 1
                    <ol>
                        <li>Amount: 12000$</li>
                        <li>Location: USA</li>
                        <li>Date: 12mar2025</li>
                    </ol>
                </li>
                <ol> <li>Transaction 2
                    <ol>
                        <li>Amount: 15000$</li>
                        <li>Location: Grece, Athens</li>
                        <li>Date: 14mar2025</li>
                    </ol>
                </li>
                <ol> <li>Transaction 3
                    <ol>
                        <li>Amount: 9000$</li>
                        <li>Location: Romania, Craiova</li>
                        <li>Date: 15mar2025</li>
                    </ol>
                </li>
                </ol>
            </li>   
            
            </ul> 
    </div>
</main>
<style rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
ul{
    height:80%;
    width:80%;
    text-align:left;
}
button{
    height:100px;
    width:150px;
}
</style>