@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/styles.css" />   


<div class="display-items-center" style="height:100vh ;  container">
    <h1 style=";">Welcome</h1>
</div>
