<link rel="stylesheet" href="~/css/styles.css" />   

<main>
    <div class="display-items-center" style="height:100vh ;  width:100vw;">
        <div style="display:flex; height:60%;  width:80%; flex-direction: row; gap:4px; align-items:end">
          
                <div  style="display:flex; flex-direction: column; gap:4px" >
                      <div class="category" style="height:800px; background-color:rgb(23, 122, 209);"> </div>
                      <span>Category 1</span>
                </div>
                <div  style="display:flex; flex-direction: column; gap:4px" >
                      <div class="category" style="height:235px; background-color:rgb(219, 50, 50);"> </div>
                      <span>Category 1</span>
                </div>
                <div  style="display:flex; flex-direction: column; gap:4px ;" >
                      <div class="category" style="height:600px;  background-color: #4ead32;"> </div>
                      <span>Category 1</span>
                </div>
                <div  style="display:flex; flex-direction: column; gap:4px ; " >
                      <div class="category" style="height:400px; background-color: #533f9a"> </div>
                      <span>Category 1</span>
                </div>
                <div  style="display:flex; flex-direction: column; gap:4px ; " >
                      <div class="category" style="height:900px; background-color: #148f6a"> </div>
                      <span>Category 1</span>
                </div>
                <div  style="display:flex; flex-direction: column; gap:4px ; " >
                      <div class="category" style="height:185px; background-color: #9a913f"> </div>
                      <span>Category 1</span>
                </div>

        </div>
    </div>
</main>

<style rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
.category{
    width:50px;
}
</style>