@{
    ViewData["Title"] = "Cards";
}    
<main>
    <div class="container-fluid vh-100 align-content-center">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <th scope="row" >1</th>
                    <td>Travel</td>
                    <td>15000$</td>
                    <td>Grece, Athens</td>
                    <td>14mar2025</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Travel</td>
                    <td>12000$</td>
                    <td>USA</td>
                    <td>12mar2025</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Travel</td>
                    <td>15000$</td>
                    <td>Grece, Athens</td>
                    <td>14mar2025</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<style rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
button{
    height:100px;
    width:150px;
}
</style>